//max-width 580-767px
@mixin no-hover{
    transform: scale(1);
    transition: 0s;
}

@media screen and(max-width: 767px){
    .navbar .navbar_logo {
      width: 100%;
    &:hover{
        @include no-hover;
    }
}
    .nav_menu:hover{
        @include no-hover;
    }
    .nav_menu_top {
          position: fixed;
          left: -100%;
          top: 8vh;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          transition: 0.3s;
          background: rgba(0,0,0,0.4);

          .nav-link:first-child{
              display: none;
          }
      }

      .nav_menu_top.active {
          left: 0;
      }

      .nav-link {
          text-align:center;
          width: 40vw;
          margin: 1vh 0;
      }

      .toggleButton {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
      }

    .button{
        width: 70vw;
        margin: 0 auto;
    &:hover{
        @include no-hover;
    }}
    .haslo{
        font-size: 8vh;
        margin-top: 20vh;
    }
    .buttons_blok{
        flex-wrap: wrap;
        .second_button{
            margin-left: auto;
            margin-top: 3vh;
        }
    }
    .cechy_o_nas{
        width: 90vw;
        grid-template-columns: repeat(2, 1fr);
    &:hover{
        @include no-hover;
    }}

    #kontakt{
        height: 100%;
        .mapa_google{
            width: 80vw;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;

        }

        .dane_kontaktowe{
            width: 80vw;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
    }

    #kierunki{
    .kierunki_items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        a{
            align-self: flex-start;
            margin-left: 25%;
        &:hover{
            @include no-hover;
        }}
        .button{
            width: 70vw;
        }
    }
}


    #kontakt{
        grid-template-columns: repeat(3, 1fr);
        h2{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .section_header_p{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .button {
            width: 70vw;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
        }
    }
    .gallery_wrapper{
        display: flex;
        flex-direction: column;
        img {
            height: 70vh;
        }
    }

    .gallery_wrapper_grid-item2,
    .gallery_wrapper_grid-item4,
    .gallery_wrapper_grid-item5,
    .gallery_wrapper_grid-item6,
    .gallery_wrapper_grid-item3{
        display: none;
    }

#reservation{
    width: 90vw;
    #reserve-button{
        button{
            width: 90%;
        &:hover{
            @include no-hover;
        }}
    }
}
#reserve .reserve-input  {
    width: 90%;
    input{
        width: 100%;
    }
}


}

//max-width 480-579px

@media screen and(max-width: 579px){


}
