//max-width 580-767px
@mixin no-hover{
    transform: scale(1);
    transition: 0s;
}
@mixin bg_slajder($background,){
    background: $background;
    background-position: center;
    background-size: cover;
    height: 40vh;
    border-radius: 1vw;
}

@media screen and (max-width: 767px), (hover: none) and (pointer: coarse){
    .navbar .navbar_logo {
      width: 100%;
    &:hover{
        @include no-hover;
        }
    }
    .nav_menu:hover{
        @include no-hover;
    }
    .nav_menu_top {
          position: fixed;
          left: -100%;
          top: 8vh;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          transition: 0.3s;
          background: rgba(0,0,0,0.4);

          .nav-link:first-child{
              display: none;
          }
      }

      .nav_menu_top.active {
          left: 0;
      }

      .nav-link {
          text-align:center;
          width: 100%;
          margin-top: 0;
          margin-bottom: 1vh;
      }

      .toggleButton {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
      }

    .button{
        width: 80vw;
        height: 8vh;
        margin: 0 auto;
    &:hover{
        @include no-hover;
    }}
    .haslo{
        font-size: 8vh;
        margin-top: 20vh;
    }
    .buttons_blok{
        flex-wrap: wrap;
        .second_button{
            margin-left: auto;
            margin-top: 3vh;
        }
    }
    #o_nas{
        .cechy_o_nas{
            width: 90vw;
            grid-template-columns: repeat(2, 1fr);
            &:hover{
                @include no-hover;
            }
            i{
                font-size: 4vh;
            }
    }
}

#kierunki{
.kierunki_items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    a{
        align-self: flex-start;
        margin-left: 25%;
        i{
            font-size: 4vh;
        }
    &:hover{
        @include no-hover;
    }}
}
.button{
    width: 80vw;
    height: 8vh;
}
}

#slajder{
    .slajder_wrapper{
        width: 90vw;
    }
    .button{
        @include no-hover;
        width: 80vw;
        height: 8vh;
        margin: 2vh auto;
    }
    .category-container{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 2;
        width: 90vw;
        .category{
            width: 40vw;
            font-size: 1.5vh;
        }
        .category1{
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .category2{
            grid-column-start: 2;
            grid-row-start: 1;
        }
        .category3{
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .category4{
            grid-column-start: 2;
            grid-row-start: 2;
        }
    }
    .products .product {
        flex-direction: column;
    }

    .product-content {
        background-color: rgba(255,255,255,0.8);
        width: 100%;
        height: 55%;
        padding: 0;
        grid-template-rows: 20% 50% 30% ;
        .naglowek{
            .product-content-title {
                font-size: 2vh;
            }

            .slogan{
                display: none;
            }
        }
    }
    .product-content-description{
        font-size: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .standartowe_zdanie{
            display: none;
        }
        .daty_container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 2vh;
            font-weight: 600;
        }
    }

    .product-content-properties {
        margin-top: 4vh;
        font-size: 2vh;
        i{
            font-size: 4vh;
            margin-bottom: 0;
            margin-right: 1vw;
        }
        .product-content-property{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

}
#polska-container{
    .product1{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/polska/Morskie_oko.jpg));
    }
}

.product2{
    background: none;
    .product-img{
    @include bg_slajder(url(../../images/polska/gdansk.jpg));
}
}

    .product3{
        background: none;
        .product-img{
            @include bg_slajder(url(../../images/polska/Krakow.jpg));
    }
}

    .product4{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/polska/bieszczady.jpg));
    }
}
}

#niemcy-container{
    .product1{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/niemcy/dresden.jpg));
    }
}

    .product2{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/niemcy/berlin.jpg));
    }
}

    .product3{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/niemcy/gorlitz.jpg));
    }
}
}

#czechy-container{
    .product1{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/czechy/prague.jpg));
    }
}

    .product2{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/czechy/brno.jpg));
    }
}

    .product3{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/czechy/adrshpach.jpg));
    }
}
}

#wlochy-container{
    .product1{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/wlochy/rome.jpg));
    }
}

    .product2{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/wlochy/milan.jpg));
    }
}

    .product3{
        background: none;
        .product-img{
        @include bg_slajder(url(../../images/wlochy/venice.jpg));
    }
}
}

    #kontakt{
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        h2{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .section_header_p{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .button {
            width: 80vw;
            height: 8vh;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
        }
        i{
            font-size: 4vh
        }
        .mapa_google{
            width: 80vw;
            height: 20vh;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;

        }

        .dane_kontaktowe{
            width: 80vw;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
        .button:hover{
            @include no-hover;
        }
    }


    #gallery_wrapper{
        display: flex;
        flex-direction: column;
            img{
                height: 70vh;
                width: 100%;
                object-fit: cover;
            }

    }

    .gallery_wrapper_grid-item2,
    .gallery_wrapper_grid-item4,
    .gallery_wrapper_grid-item5,
    .gallery_wrapper_grid-item6,
    .gallery_wrapper_grid-item3{
        display: none;
    }

    #reservation{
        width: 90vw;
        #reserve-button{
            button{
                width: 80vw;
                height: 8vh;
            &:hover{
                @include no-hover;
            }}
        }
        #reservation-cancel-close {
            top: 2.5%;
            right: 2.5%;
        }
    }
    #reserve .reserve-input  {
        width: 90%;
        input{
            width: 100%;
        }
    }



    footer{
        .nav_menu{
            display: none;
        }
        font-size: 3vw;
    }

    #opinie{
        min-height: 96vh;
        .button{
            @include no-hover;
            width: 80vw;
        }
    }

    #reviews {
        .review {
            width: 100%;
            margin-right: 1vw;
            margin-left: 1vw;
            .review-image {
                height: 30vh;
            }
        }
    }

    .review-text-title {
        font-size: 2vh;

    }

    .review-text-description {
        font-size: 1.5vh;
    }

}

.review-head {
    font-size: 2vh;
}

// zostawienie opinie-input

    #opinie-container-wrapper {
    width: 90vw;
    height: 90vh;
}

#opinie-cancel-close {
    top: 2.5%;
    right: 2.5%;
}


@media screen and (max-width: 1400px){
.product-content-properties {
    i{
        font-size: 2vw;
    }
}
}
