*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #FFF;
}

button{
    border: none;
}

button,
button:active,
button:focus {
    outline: none;
}

h2{
    font-size: 4vh;
    text-transform: uppercase;
    margin-bottom: 3vh;
    margin-top: 5vh;
    text-align: center;
}


$main_color: #13BA6C;

// MIXIN

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin hover{
    transform: scale(1.1);
    transition: 1.3s;
}

@mixin text-shadow{
    text-shadow: 0 0 1.6vw #00FF33;
}

@mixin button{
    border: none;
    height: 9vh;
    width: 25vw;
    font-size: 3vh;
    border-radius: 10vw;
    color: #fff;
    letter-spacing: 0.125vw;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:active,&:focus{
        outline: none;
    }
    &:hover{
        @include hover;
    }
}

@mixin main_button{
    .main_button{
        background-color:$main_color;
        &:hover{
            box-shadow: 0 0 1.6vw #00FF33;
        }
    }
}

@mixin section_p{
    margin-bottom: 3vh;
    font-size: 2vh;
    letter-spacing: 0.1vw;
    font-weight: 100;
}

@mixin section_bg($background,){
    background: $background;
    background-size: cover;
    height: 96vh;
}

@mixin bg_slajder($background,){
    background: $background;
    background-position: center;
    background-size: cover;
}

// main_screen

#main_screen{
    @include parallax;
    @include section_bg(url(../../img/Main_page.jpg));
    color: #fff;
}

.navbar{
    @include flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    background: rgba(0,0,0,0.4);
    height: 8vh;

}

.navbar_logo:hover{
    @include hover;
}

.navbar_logo img {
    height: 8vh;
    margin: auto 0;
}

.nav_menu{
    @include flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
        li{
            display: inline-block;
            font-size: 2.5vh;
            font-weight: 100;
            &:first-child{
                margin-left: 0;
            }&:hover{
                @include hover;
            }
            a:hover{
                @include text-shadow;
            }
        }
}
.toggleButton{
    width: 10vw;
    height: 8vh;
    display: none;
}

.main_screen_content{
    padding-left: 5vw;
    padding-right: 5vw;
}

.haslo{
    // max-width: 90%;
    // max-height: 40%;
    margin-top: 30vh;
    margin-bottom: 15vh;
    font-size: 7vw;
    letter-spacing: 0.5vw;
    font-weight: 400;
    text-transform: uppercase;
}

.buttons_blok{
    @include flex;
    @include main_button;
    .second_button{
        background-color:inherit;
        margin-left: 8vw;
        border-style: solid;
        border-width: 0.3vh;
        &:hover{
            box-shadow: 0 0 1.6vw #FFFFFF;
            }
        }
    }

.button{
    @include button;
}

//O_Nas
#o_nas{
    height: 96vh;
    background: linear-gradient(#FFFFFF, #FFFFFF 80%, #D4C6C6);
    @include flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{@include section_p;
    }
}

.cechy_o_nas{
    margin: 0 auto;
    width: 60vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vh;
    .cecha{
        @include flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5vh;
            flex-grow: 4;
            &:hover{
                @include hover;
            }
        i{
            color: $main_color;
            // font-size: 15vh;
        }
        p{
            margin-top: 3vh
        }
    }
}

// kierunki
#kierunki{
    @include section_bg(url(../../img/Popular_destinations.jpg));
    @include parallax;
    @include flex;
    flex-direction: column;
    color: black;
    button{
        @include main_button;
        background-color: $main_color;
        margin-top: 8vh;
        width: 40vw;
        &:hover{
            @include hover;
            box-shadow: 0 0 1.6vw #00FF33;
        }
    }
    .kierunki_items{
        background: rgba(255,255,255,0.6);
        border-radius: 2vw;
        box-shadow: 0 0 24px #FFF;
        width: 50vw;
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            a{
                color: black;
                justify-self: center;
                align-self: center;
                font-size: 3vh;
                @include flex;
                justify-content: center;
                &:hover{
                    @include hover;
                }
                i{
                    color: $main_color;
                    margin-right: 2vw;
                }
            }
    }
}

// GALLERY

#gallery{
    @include section_bg(url(../../img/Forest.jpg));
    @include flex;
    @include parallax;
    flex-direction: column;
    text-align: center;
    .napis_gallery{
        border-radius: 2vw;
        padding-left: 2vw;
        padding-right: 2vw;
        text-shadow: 0 0 3vw rgba(255, 255, 255, 1);
    }
    .tekst_gallery{
        @include section_p;
        border-radius: 2vw;
        padding-left: 2vw;
        padding-right: 2vw;
        font-weight: 400;
        text-shadow: 0 0 3vw rgba(255, 255, 255, 1);
    }
}

.gallery_wrapper{
    width: 90vw;
    height: 70vh;
    display: grid;
	grid-template-columns: repeat(12, 3fr);
    grid-template-rows: 50% 50%;
	column-gap: 3vw;
    row-gap: 3vh;
    a{
        display: block;
    	width: 100%;
    	height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.gallery_wrapper_grid-item1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_wrapper_grid-item2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gallery_wrapper_grid-item4{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gallery_wrapper_grid-item3{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
}

.gallery_wrapper_grid-item5{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
}


// KONTAKT
#kontakt{
    @include section_bg(url(../../img/Road.png));
    @include parallax;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 5vh 15vh auto;
    h2{
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .section_header_p{
        justify-self: center;
        align-self: center;
        @include section_p;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        font-size: 2vh;
    }
    .button {
        justify-self: center;
        align-self: center;
        border: none;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        background-color: $main_color;
        width: 40vw;
        &:hover{
            @include hover;
            box-shadow: 0 0 1.6vw #00FF33;
        }
    }
    .mapa_google{
        justify-self: center;
        align-self: center;
        border-radius: 16px;
        width: 40vw;
        height: 40vh;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        a{
            img{
                height: 100%;
                width: 100%;
                border-radius: 16px;
                display: block;
                margin: auto;
            }
        }
    }
}

.dane_kontaktowe{
    justify-self: center;
    align-self: center;
    border-radius: 16px;
    width: 40vw;
    height: 40vh;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 24px #FFF;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    display: grid;
    font-weight: 500;
    grid-template-columns: 40% auto;
    grid-template-rows: repeat(7, 1fr);
    h3{
        justify-self: center;
        grid-area: 1 / 1 / 2 / 3;
        font-size: 3.5vh;
        letter-spacing: 0.7vw;
        padding: 0 10vw;
        border-bottom: 1px solid $main_color;
    }
    p{
        margin-left: 2vw;
        font-size: 2vh;
        align-self: center;
    }
    a{
        color: black;
        font-size: 2vh;
        align-self: center;
    }
    i{
        color: $main_color;
    }

    .Godziny{
        justify-self: left;
        align-self: center;
        grid-area: 2 / 1 / 3 / 2;
    }

    .Godziny_data{
        margin-left: 0;
        grid-area: 2 / 2 / 3 / 3;;
    }

    .Adres{
        grid-area: 3 / 1 / 4 / 2;
    }

    .Adres_data{
        margin-left: 0;
        grid-area: 3 / 2 / 4 / 3;;
    }

    .Telefon{
        grid-area: 4 / 1 / 5 / 2;
    }

    .Telefon_data{
        margin-left: 0;
        grid-area: 4 / 2 / 5 / 3;
    }

    .Instagram{
        grid-area: 5 / 1 / 6 / 2;
    }

    .Instagram_data{
        margin-left: 0;
        grid-area: 5 / 2 / 6 / 3;
    }

    .Facebook{
        grid-area: 6 / 1 / 7 / 2;
    }

    .Facebook_data{
        margin-left: 0;
        grid-area: 6 / 2 / 7 / 3;
    }

    .VK{
        grid-area: 7 / 1 / 8 / 2;
    }

    .VK_data{
        margin-left: 0;
        grid-area: 7 / 2 / 8 / 3;
    }
}

//Slajder

#slajder {
    .button{
        @include button;
        background-color: $main_color;
        margin: 2vh auto;
    }
    .slajder_wrapper{
        margin: 0 auto;
        width: 60%;
    }
    .category-container {
        display: flex;
        justify-content: center;
        .category {
            font-size: 1.2vw;
            text-align: center;
            border: 1px solid transparent;
            margin: 0 2vh;
            padding: 10px 15px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                border: 1px solid rgb(51, 23, 3);
            }
        }
        .category.active {
            border: 1px solid rgb(51, 23, 3);
            font-family: RobotoBold, sans-serif;
        }
    }

    .slick-prev:before {
        content: url("../../images/prev.png");
    }

    .slick-next:before {
        content: url("../../images/next.png");
    }
}

    .products .product {
        display: flex;
        justify-content: flex-end;
        border-radius: 1vw;
        height: 60vh;
        margin-top: 3vh;
        background-color: lightgrey;
    }
#polska-container{
    .product1{
        @include bg_slajder(url(../../images/polska/Morskie_oko.jpg));
    }

    .product2{
        @include bg_slajder(url(../../images/polska/gdansk.jpg));
    }

    .product3{
        @include bg_slajder(url(../../images/polska/Krakow.jpg));
    }

    .product4{
        @include bg_slajder(url(../../images/polska/bieszczady.jpg));
    }
}

#niemcy-container{
    .product1{
        @include bg_slajder(url(../../images/niemcy/dresden.jpg));
    }

    .product2{
        @include bg_slajder(url(../../images/niemcy/berlin-wall.jpg));
    }

    .product3{
        @include bg_slajder(url(../../images/niemcy/gorlitz.jpg));
    }
}

#czechy-container{
    .product1{
        @include bg_slajder(url(../../images/czechy/prague.jpg));
    }

    .product2{
        @include bg_slajder(url(../../images/czechy/brno.jpg));
    }

    .product3{
        @include bg_slajder(url(../../images/czechy/adrshpach.jpg));
    }
}

#wlochy-container{
    .product1{
        @include bg_slajder(url(../../images/wlochy/rome.jpg));
    }

    .product2{
        @include bg_slajder(url(../../images/wlochy/milan.jpg));
    }

    .product3{
        @include bg_slajder(url(../../images/wlochy/venice.jpg));
    }
}



.product-content {
    background-color: rgba(255,255,255,0.8);
    width: 45%;
    height: 100%;
    padding: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto 15%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .naglowek{
        grid-area: 1 / 1 / 2 / 2;
        justify-self: center;
        text-align: center;
        .product-content-title {
            font-size: 1.5vw;
            text-transform: uppercase;
        }

        .slogan{
            font-size: 1.2vw;
            font-weight: 400;
        }
    }
    .product-content-description{
        grid-area: 2 / 1 / 3 / 2;
        font-size: 1vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 40% 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .description{
             grid-area: 1 / 1 / 2 / 2;
        }
        .standartowe_zdanie{
            grid-area: 2 / 1 / 3 / 2;
        }
        .daty_container{
            grid-area: 3 / 1 / 4 / 2;
            font-size: 1.5vw;
        }
    }

    .product-content-properties {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-content: space-between;
        i{
            color: $main_color;
            margin-bottom: 1vh;
        }
    }
}



#wlochy-container, #niemcy-container, #czechy-container {
    display: none;
}


// FOOTER
footer{
    padding: 1.5vh 0;
    background: rgb(68,52,40);
    background: -webkit-linear-gradient(rgba(68,52,40,1) 0%, rgba(55,50,46,1) 100%);
    background: -o-linear-gradient(rgba(68,52,40,1) 0%, rgba(55,50,46,1) 100%);
    background: linear-gradient(rgba(68,52,40,1) 0%, rgba(55,50,46,1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #A8A39D;
    font-size: 1vw;
    .nav_menu{
        width: 30vw;
        margin-bottom: 1vh;
        li{
            margin-left: 2vw;
            font-size: 1vw;
        }
        }
}


// Rezerwacja

#reservation-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
}

#reservation {
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 30px 8.33px rgba(255, 255, 255, 1);
    width: 61vw;
    min-height: 50vh;
    padding: 3%;
    position: relative;
    #reservation-cancel-close {
        position: absolute;
        top: 5%;
        right: 2.5%;
        cursor: pointer;
    }
    #reservation-content{
        margin-bottom: 5vh;
        h2{
        text-align: center;
        margin-top: 0;
        }
    }
}

#reserve {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#reserve .reserve-input label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#reserve .reserve-input {
    margin-top: 0.8vh;
}

#reserve .reserve-input input {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    min-width: 25vw;
    height: 5vh;
    background: transparent;
    outline: 0;
    padding: 12px 20px;
}

#reservation #reserve-button {
    text-align: center;
}

#reserve-button button {
    margin: 0 auto;
    background-color: $main_color;
    width: 30vw;
    &:hover{
        @include hover;
        box-shadow: 0 0 1.6vw #00FF33;
    }
}
#reservation-sent {
    display: none;
}
#reservation-sent h2.block-title {
    margin-top: 95px;
}

#reservation-sent-text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    /* color: rgb(255, 255, 255); */
    text-align: center;
    margin: 35px 0 110px 0;
}

#reserve-error {
    color: red;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 10px;
    display: none;
}
