*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #FFF;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style-type: none;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

button{
    border: none;
}

button,
button:active,
button:focus {
    outline: none;
}



/*** MAIN SCREEN ***/

#main_screen {
    height: 100vh;
    background-image: url(../img/Main_page.jpg);
    background-size: cover;
    color: #fff;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}



.navbar_logo:hover{
    transform: scale(1.2);
    transition: 1.5s;
}

.navbar_logo img {
    width: 270px;
}

.navigation_menu{
    width: 60%;
}

.menu{
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.menu li {
    font-size: 1.5vw;
    font-weight: 100;
}

.menu li:first-child{
    margin-left: 0px;
}

.menu li:hover{
    transform: scale(1.2);
    transition: 1.5s;
}

.menu a:hover{
    text-shadow: 0 0 16px #00FF33;
}

/***MAIN SCREEN CONTAINER***/

.main_screen_content{
    padding-left: 5%;
    padding-right: 5%;
}

.haslo {
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-weight: 400;
    text-transform: uppercase;
}

/*** BUTTONS ***/

.buttons {
    margin-left: 0;
    padding: 0;
    display: flex;
}

.button{
    height: 90px;
    min-width: 25%;
    font-size: 1.5vw;
    border-radius: 42px;
    color: #fff;
    letter-spacing: 0.125vw;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button:hover{
    transform: scale(1.1);
    transition: 1.5s;
}

.main_button{
    background-color: #13BA6C;
}

.main_button:hover{
    box-shadow: 0 0 16px #00FF33;
}

.second_button{
    margin-left: 8%;
    border-style: solid;
    border-width: 2px;
    background-color: inherit;
}

.second_button:hover{
    box-shadow: 0 0 16px #FFFFFF;
}


/*** O NAS ***/

#o_nas{
    min-height: 100vh;
    background: linear-gradient(#FFFFFF, #FFFFFF 80%, #D4C6C6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#o_nas p{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.5vw;
}

#o_nas h2{
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.cechy_o_nas{
    margin: 0 auto;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 2vh;
}

.cecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;

}

.cecha:hover{
    transform: scale(1.1);
    transition: 1.5s;
}

.cecha img{
    max-width: 100px;
    max-height: 98px;
}

.cecha1, .cecha2, .cecha3, .cecha4, .cecha5, .cecha6, .cecha7, .cecha8{
    flex-grow: 4;
}

/*** KIERUNKI ***/

#kierunki{
    height: 100vh;
    background-image: url(../img/Popular_destinations.jpg);
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#kierunki h2{
    font-size: 3vw;
    margin-top: 5%;
    margin-bottom: 3%;
    text-transform: uppercase;
}

.kierunki_items{
    background: rgba(255,255,255,0.6);
    border-radius: 32px;
    box-shadow: 0 0 24px #FFF;
    width: 60%;
    height: 40%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.kierunki_items > a{
    justify-self: center;
    align-self: center;
    font-size: 2vw;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kierunki_items > a > img{
    width: 15%;
    height: 15%;
    margin-right: 10%;
}


/*** Slajder ***/

#slajder {
    /* width: 60%; */
    min-height: 100vh;
}

.slajder_wrapper{
    margin: 0 auto;
    width: 60%
}

.block-title {
    margin: 75px 0 40px 0 ;
    color: rgb(51, 23, 3);
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
}

#slajder .category-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

#slajder .category {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: rgb(51, 23, 3);
    text-align: center;
    border: 1px solid transparent;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

#slajder .category.active {
    border: 1px solid rgb(51, 23, 3);
    font-family: RobotoBold, sans-serif;
}

#slajder .category:hover {
    cursor: pointer;
    border: 1px solid rgb(51, 23, 3);
}

#slajder .products-container .button {
    min-width: 40%;
    height: 80px;
    margin: auto;
}

.products {
    margin: auto 25px;
}

.products .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products .product .product-image {
    max-width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.products .product .product-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.products .product .product-content {
    max-width: 50%;
}

.products .product .product-content .product-content-title {
    font-size: 1.2vw
    font-weight: bold;
    font-family: "RobotoBold", sans-serif;
    color: rgb(51, 23, 3);
    text-transform: uppercase;
    margin: 80px 0 40px 0;
}

.products .product .product-content .product-content-description {
    font-size: 1vw
    font-family: "Roboto Light", sans-serif;
    color: rgb(51, 23, 3);
    line-height: 25px;
    margin-bottom: 50px;
}

.products .product .product-content .product-content-description .daty{
    font-size: 1.5vw
}

.products .product .product-content .product-content-properties {
    display: flex;
    justify-content: space-between;
}


.products .product .product-content .product-content-property span {
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: rgb(51, 23, 3);
}

.products .product .product-content .product-content-property img {
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.products-container .products-footer{
    display: flex;
    justify-content: space-between;
}

.products-nav {
    width: 50%;
    display: flex;
    margin: 5% auto;
}

.products-nav .product-nav {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    opacity: 0.3;
}

.products-nav .product-nav.slick-current {
    opacity: 1;
}

.products-nav .product-nav:hover {
    cursor: pointer;
    opacity: 1;
}

.products-nav .product-nav img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.products-nav .product-nav:focus {
    outline: 0;
}

.slick-slide img {
    display: inline;
}

#slajder .slick-prev:before {
    content: url("../images/prev.png");
}

#slajder .slick-next:before {
    content: url("../images/next.png");
}

#wlochy-container, #niemcy-container, #czechy-container {
    display: none;
}

/*** GALLERY ***/
#gallery{
    height: 100vh;
    background-image: url(../img/Forest.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#gallery h2{
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 1%;
    margin-top: 3%;
}

#gallery span{
    margin-bottom: 1%;
    font-size: 2vw;
}

.gallery_wrapper{
    width: 90%;
    height: 70%;
    display: grid;
	grid-template-columns: repeat(12, 3fr);
    grid-template-rows: 50% 50%;
	column-gap: 30px;
    row-gap: 30px;
}

.gallery_wrapper a{
    display: block;
	width: 100%;
	height: 100%;
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item4{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-item3{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item5{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
}

.gallery_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ** OPINIE** */
#opinie {
    margin: 0 auto;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #f9f2f2 0%, #8bb8ca 100%);
    background-position: top center;
    padding: 1px 0;
}

#opinie .block-title {
    text-transform: uppercase;
    margin: 130px 0 60px 0;
}

#reviews {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

#reviews .review {
    display: flex;
    align-items: flex-start;
    width: 470px;
    justify-content: space-between;
    outline: 0;
    margin: 0 50px;
}

#reviews .review .review-image {
    border-radius: 50%;
    width: 112px;
    height: 112px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#reviews .review .review-text {
    width: 325px;
}

#reviews .review .review-text .review-text-title {
    font-size: 20px;
    font-family: "RobotoBold", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 35px;
}

#reviews .review .review-text .review-text-description {
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    color: black;
    line-height: 1.563;
}

#reviews .slick-prev:before {
    content: url("../images/prev.png");
}

#reviews .slick-next:before {
    content: url("../images/next.png");
}

.button_opinie{
    width: 30%;
    margin: 5% auto;
}

/* ** KONTAKT ** */
#kontakt{
    height: 100vh;
    background-image: url("../img/Road.png");
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: 15% 5% 15% auto;
}

#kontakt > * {
    justify-self: center;
    align-self: center;
}

#kontakt > div{
    border-radius: 16px;
    width: 90%;
    height: 60%;
}

#kontakt h2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    margin: 0;
}


#kontakt > p {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    margin: 0;
    font-size: 24px;
}

#kontakt .button {
    border: none;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

#kontakt .main_button{
    width: 100%
}

#kontakt .mapa_google{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    background-color: lightyellow;
}

#kontakt .mapa_google > a > img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: ;
    display: block;
    margin: auto;
}


.dane_kontaktowe{
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 24px #FFF;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: repeat(7, 1fr);
}

.dane_kontaktowe > *{
    justify-self: left;
    align-self: center;
}

.dane_kontaktowe h3{
    justify-self: center;
    grid-area: 1 / 1 / 2 / 3;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4.48px;
    padding: 0 20%;
    border-bottom: 1px solid #13BA6C;
}

.dane_kontaktowe > p{
    margin-left: 20%;
    font-size: 18px;
    font-weight: 400;
}

.dane_kontaktowe > a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.dane_kontaktowe .data{
    font-weight: 600;
}

.dane_kontaktowe .Godziny{
    grid-area: 2 / 1 / 3 / 2;
}

.dane_kontaktowe .Godziny_data{
    margin-left: 0;
    grid-area: 2 / 2 / 3 / 3;;
}

.dane_kontaktowe .Adres{
    grid-area: 3 / 1 / 4 / 2;
}

.dane_kontaktowe .Adres_data{
    margin-left: 0;
    grid-area: 3 / 2 / 4 / 3;;
}

.dane_kontaktowe .Telefon{
    grid-area: 4 / 1 / 5 / 2;
}

.dane_kontaktowe .Telefon_data{
    margin-left: 0;
    grid-area: 4 / 2 / 5 / 3;
}

.dane_kontaktowe .Instagram{
    grid-area: 5 / 1 / 6 / 2;
}

.dane_kontaktowe .Instagram_data{
    margin-left: 0;
    grid-area: 5 / 2 / 6 / 3;
}

.dane_kontaktowe .Facebook{
    grid-area: 6 / 1 / 7 / 2;
}

.dane_kontaktowe .Facebook_data{
    margin-left: 0;
    grid-area: 6 / 2 / 7 / 3;
}

.dane_kontaktowe .VK{
    grid-area: 7 / 1 / 8 / 2;
}

.dane_kontaktowe .VK_data{
    margin-left: 0;
    grid-area: 7 / 2 / 8 / 3;
}

/* ** FOOTER ** */
footer{
    height: 80px;
    background-color: #443428;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .menu{
    margin-bottom: 10px;
}

footer .menu li{
    margin: 0 10px;
}

footer .menu li:last-child{
    margin-right: 0px;
}

footer .menu li a{
    font-size: 0.7vw;
}

/*** Reserwacja ***/

#reservation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
}

#reservation {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40.67px 8.33px rgba(2, 7, 8, 1);
    width: 584px;
    padding: 45px 35px 70px 35px;
    position: relative;
    box-sizing: border-box;
}

#reservation > *{
    color: black
}

#reservation #reservation-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#reservation h2.block-title {
    font-size: 25px;
}

#reservation #reserve {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#reservation .reserve-input label {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    /* color: rgb(255, 255, 255); */
    margin-left: 20px;
    line-height: 20px;
}

#reservation .reserve-input {
    margin-top: 15px;
}

#reservation .reserve-input input {
    border-width: 1px;
    /* border-color: rgb(255, 255, 255); */
    border-style: solid;
    border-radius: 10px;
    width: 248px;
    height: 38px;
    background: transparent;
    /* color: white; */
    outline: 0;
    padding: 12px 20px;
    box-sizing: border-box;
}

#reservation #reserve-button {
    text-align: center;
}

#reservation #reserve-button button {
    margin-top: 0;
}
#reservation #reservation-sent {
    display: none;
}
#reservation #reservation-sent h2.block-title {
    margin-top: 95px;
}

#reservation #reservation-sent-text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    /* color: rgb(255, 255, 255); */
    text-align: center;
    margin: 35px 0 110px 0;
}

#reservation #reserve-error {
    color: red;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 10px;
    display: none;
}

/*** zostawienie opinii  ***/

/* #reservation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.91);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
}

#reservation {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 40.67px 8.33px rgba(2, 7, 8, 1);
    width: 584px;
    padding: 45px 35px 70px 35px;
    position: relative;
    box-sizing: border-box;
}

#reservation #reservation-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#reservation h2.block-title {
    font-size: 25px;
}

#reservation #reserve {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#reservation .reserve-input label {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    line-height: 20px;
}

#reservation .reserve-input {
    margin-top: 15px;
}

#reservation .reserve-input input {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    width: 248px;
    height: 38px;
    background: transparent;
    color: white;
    outline: 0;
    padding: 12px 20px;
    box-sizing: border-box;
}

#reservation #reserve-button {
    text-align: center;
}

#reservation #reserve-button button {
    margin-top: 0;
}
#reservation #reservation-sent {
    display: none;
}
#reservation #reservation-sent h2.block-title {
    margin-top: 95px;
}

#reservation #reservation-sent-text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 35px 0 110px 0;
}

#reservation #reserve-error {
    color: red;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 10px;
    display: none;
} */

/*** RESPONSIVE START HERE ***/
