@media screen and (max-width: 767px) {
  .navbar .navbar_logo {
    width: 100%;
  }
  .navbar .navbar_logo:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }

  .nav_menu:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }

  .nav_menu_top {
    position: fixed;
    left: -100%;
    top: 8vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.4);
  }
  .nav_menu_top .nav-link:first-child {
    display: none;
  }

  .nav_menu_top.active {
    left: 0;
  }

  .nav-link {
    text-align: center;
    width: 40vw;
    margin: 1vh 0;
  }

  .toggleButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }

  .button {
    width: 70vw;
    margin: 0 auto;
  }
  .button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }

  .haslo {
    font-size: 8vh;
    margin-top: 20vh;
  }

  .buttons_blok {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttons_blok .second_button {
    margin-left: auto;
    margin-top: 3vh;
  }

  #o_nas .cechy_o_nas {
    width: 90vw;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  #o_nas .cechy_o_nas:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }
  #o_nas .cechy_o_nas i {
    font-size: 4vh;
  }

  #kierunki .kierunki_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #kierunki .kierunki_items a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 25%;
  }
  #kierunki .kierunki_items a i {
    font-size: 4vh;
  }
  #kierunki .kierunki_items a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }
  #kierunki .button {
    width: 70vw;
  }

  #slajder .slajder_wrapper {
    width: 90vw;
  }
  #slajder .button {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
    width: 80vw;
    margin: 2vh auto;
  }
  #slajder .category-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
    grid-template-rows: 2;
    -ms-grid-columns: 2;
    grid-template-columns: 2;
    width: 90vw;
  }
  #slajder .category-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #slajder .category-container .category {
    width: 40vw;
    font-size: 1.5vh;
  }
  #slajder .category-container .category1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #slajder .category-container .category2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #slajder .category-container .category3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  #slajder .category-container .category4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  #slajder .products .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #slajder .product-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 45%;
    padding: 0;
    -ms-grid-rows: 10% 2vh 30% 2vh 10%;
    grid-template-rows: 10% 30% 10%;
    grid-row-gap: 2vh;
  }
  #slajder .product-content .naglowek .product-content-title {
    font-size: 2vh;
  }
  #slajder .product-content .naglowek .slogan {
    display: none;
  }
  #slajder .product-content-description {
    font-size: 1.5vh;
  }
  #slajder .product-content-description .standartowe_zdanie {
    display: none;
  }
  #slajder .product-content-description .daty {
    font-size: 2vh;
  }
  #slajder .product-content-description .dates_value {
    display: inline-block;
    font-size: 2vh;
  }
  #slajder .product-content-properties {
    font-size: 2vh;
  }
  #slajder .product-content-properties i {
    font-size: 4vh;
  }

  #polska-container .product1 {
    background: none;
  }
  #polska-container .product1 .product-img {
    background: url(../../images/polska/Morskie_oko.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #polska-container .product2 {
    background: none;
  }
  #polska-container .product2 .product-img {
    background: url(../../images/polska/gdansk.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #polska-container .product3 {
    background: none;
  }
  #polska-container .product3 .product-img {
    background: url(../../images/polska/Krakow.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #polska-container .product4 {
    background: none;
  }
  #polska-container .product4 .product-img {
    background: url(../../images/polska/bieszczady.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }

  #niemcy-container .product1 {
    background: none;
  }
  #niemcy-container .product1 .product-img {
    background: url(../../images/niemcy/dresden.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #niemcy-container .product2 {
    background: none;
  }
  #niemcy-container .product2 .product-img {
    background: url(../../images/niemcy/berlin-wall.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #niemcy-container .product3 {
    background: none;
  }
  #niemcy-container .product3 .product-img {
    background: url(../../images/niemcy/gorlitz.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }

  #czechy-container .product1 {
    background: none;
  }
  #czechy-container .product1 .product-img {
    background: url(../../images/czechy/prague.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #czechy-container .product2 {
    background: none;
  }
  #czechy-container .product2 .product-img {
    background: url(../../images/czechy/brno.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #czechy-container .product3 {
    background: none;
  }
  #czechy-container .product3 .product-img {
    background: url(../../images/czechy/adrshpach.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }

  #wlochy-container .product1 {
    background: none;
  }
  #wlochy-container .product1 .product-img {
    background: url(../../images/wlochy/rome.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #wlochy-container .product2 {
    background: none;
  }
  #wlochy-container .product2 .product-img {
    background: url(../../images/wlochy/milan.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }
  #wlochy-container .product3 {
    background: none;
  }
  #wlochy-container .product3 .product-img {
    background: url(../../images/wlochy/venice.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
  }

  #kontakt {
    height: 100%;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  #kontakt h2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #kontakt .section_header_p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #kontakt .button {
    width: 70vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  #kontakt i {
    font-size: 4vh;
  }
  #kontakt .mapa_google {
    width: 80vw;
    height: 20vh;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  #kontakt .dane_kontaktowe {
    width: 80vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  #kontakt .button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }

  .gallery_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery_wrapper img {
    height: 70vh;
  }

  .gallery_wrapper_grid-item2,
.gallery_wrapper_grid-item4,
.gallery_wrapper_grid-item5,
.gallery_wrapper_grid-item6,
.gallery_wrapper_grid-item3 {
    display: none;
  }

  #reservation {
    width: 90vw;
  }
  #reservation #reserve-button button {
    width: 90%;
  }
  #reservation #reserve-button button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }

  #reserve .reserve-input {
    width: 90%;
  }
  #reserve .reserve-input input {
    width: 100%;
  }

  footer {
    font-size: 3vw;
  }
  footer .nav_menu {
    display: none;
  }
}